pyttsx3
SpeechRecognition
PyAudio
opencv-python
requests
wikipedia
pywhatkit
pyjokes
pyautogui
geocoder
instaloader
PyPDF2
sympy
pywikihow
PyQt6
edge-tts
pygame
psutil
screen-brightness-control
pycaw
